@use "../../partials/_colors" as *;
@use "../../partials/_typography" as *;

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.page-header__wrapper a:hover {
    background-color: $raisin-black;
    color: $white;
}

.header-container{
    font-family: $primary-font;
    // background-color: $columbia-blue;
    padding: 1rem 0;
}

.nav-list__item{
    // display: none;
    // @include tablet{
        // display: initial;
        text-decoration: none;
        margin-left:3rem;
        color: $raisin-black
    //}
}